Source: apitest
Section: oscar
Priority: optional
Maintainer   : Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: apitest
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: APITest
 APITest package for OSCAR.
