Source: apitest
Section: oscar
Priority: optional
Maintainer: Olivier Lahaye <olivier.lahaye@cea.fr>
Build-Depends: python3-all, dh-python, python3-twisted debhelper (>= 12.0.0)
Standards-Version: 4.2.1

Package: apitest
Architecture: all
Depends: ${misc:Depends} ${python3:Depends}
Description: APITest
 APITest package for OSCAR.
