#!/usr/bin/make -f
#export DH_VERBOSE=1
export PYBUILD_NAME=apitest

%:
	dh $@ --with python3 --buildsystem=pybuild

dh_auto_install:
	install -d -m 755 $(CURDIR)/debian/python3-apitest/usr/share/doc/python3-apitest/doc
	install -d -m 755 $(CURDIR)/debian/python3-apitest/usr/share/doc/python3-apitest/samples
	find doc -type f -exec install -p -m 644 {} $(CURDIR)/debian/python3-apitest/usr/share/doc/python3-apitest/{} \;
	find samples -type f -exec install -p -m 644 {} $(CURDIR)/debian/python3-apitest/usr/share/doc/python3-apitest/{} \;
